---
import MainLayout from "@layouts/main.astro";
import PageTitle from "@lib/PageTitle.svelte";
import WorkItem from "@lib/WorkItem.svelte";
// Import markdown files with Astro.glob & sort by order
const jobs = await Astro.glob("./*.md");
function compare(a:any, b:any) {
  const first = parseInt(a.frontmatter.order);
  const second = parseInt(b.frontmatter.order);
  if (first > second) {
    return -1;
  }
  if (first < second) {
    return 1;
  }
  return 0;
}
const orderedJobs = jobs.sort(compare);
const introText =
  "With over 10 years of expereince in digital marketing I am a strong and well rounded leader of teams. I have a range of experience working in digital agenices as well multinational companies in various disiplines of digital & marketing.";
---

<MainLayout title="Work History" desc={introText}>
  <div
    class="container mt-20 lg:mt-36 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full"
  >
    <section class="w-full">
      <PageTitle title="Work History" intro={introText} />
      <div class="space-y-12 my-16">
        {orderedJobs.map((job) => (
          <WorkItem
            title={job.frontmatter.title}
            company={job.frontmatter.company}
            time={job.frontmatter.time}
            desc={job.frontmatter.desc}
            logo={job.frontmatter.logo}
            link={job.url}
          />
        ))}
      </div>
    </section>
  </div>
</MainLayout>
