---
import MainLayout from "@layouts/main.astro";
import projects from "../../lib/projects.json";
import PageTitle from "@lib/PageTitle.svelte";
export async function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { id: project.id },
      props: { project },
    };
  });
}
const { project } = Astro.props;
---

<MainLayout title={project.name} desc={project.description}>
  <div
    class="container mt-20 lg:mt-36 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full"
  >
    <div class="w-full">
      <PageTitle title={project.name} intro={project.description} />
      <div class="flex flex-row flex-wrap py-10">
        <div class="flex-none w-full md:basis-1/2 p-5">
          <img src={`../${project.img}`} class="w-full bg-nav h-72 object-cover" alt={project.name} />
        </div>
        <div class="flex-none w-full md:basis-1/2 p-5">
          <h2 class="text-white text-xl">Project Links</h2>
          <div class="my-5 flex flex-row">
            {project.link ? (
              <a
                href={project.link}
                target="_blank"
                class="bg-theme text-white text-center px-4 py-3 mx-2 rounded-md transition"
              >
                View this project
              </a>
            ) : (
              ""
            )}

            {project.github ? (
              <a
                href={project.github}
                target="_blank"
                class="bg-theme text-white text-center px-4 py-3 mx-2 rounded-md transition"
              >
                View on Github
              </a>
            ) : (
              ""
            )}
          </div>
          <div class="my-5">
            <h2 class="text-white text-xl">Technologies</h2>
            {project.technologies
              ? project.technologies.map((tech) => <button class="badge m-2">{tech}</button>)
              : ""}
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
